doctype html
html
  head
    title Harry Dance Academy
    block scripts
    block style 
  body
    nav
       ul
          li
             a(href="/") Home
          li
             a(href) About
          li
             a(href) Services
          li
             a(href="/contact") Contact
    block content
    block foot 
      