<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style 
        include ../static/style.css
</head>
<body>
    <nav>
        <ul>
        <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>

    <section id="intro">
        <div class="heading">

            <h1>Welcome to Sunny's Dance Academy</h1>
            <h2>Eat Sleep Dance Repeat</h2>
        </div>

    </section>

    <section id="mission">
    <h1>Our Mission</h1>
        <div id="container">
            <div class="box">
            <h2>Dance Perfection</h2>
                <div class="para">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicin.</p>
                </div>            
                <div class="item" id="img1">
                <img src="../static/img/logo1.png" alt="">
            </div>

        </div>
        <div class="box">
            <h2>Dance the way you like</h2>
            <div class="para">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicin.</p>
            </div>
            <div class="item" id="img2">
            <img src="../static/img/logo2.png" alt="">
            </div>
        </div>
        <div class="box">
            <h2>Dance teaching</h2>
            <div class="para">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicin.</p>
            </div>            
            <div class="item" id="img3">
            <img src="../static/img/logo3.webp" alt="">
        </div>
        </div>
    </div>
    </section>
    <!-- |sponsor-section -->
    <section>
        <div id="sponsor">
            <h1>Our Sponsors</h1>
            <div id="sponsor-section">
                <div class="sp">
                    <img src="../static/img/sponsor.png" alt="">
                </div>
                <div class="sp">
                    <img src="../static/img/sponsor2.png" alt="">
                </div> 
                <div class="sp">
                    <img src="../static/img/sponsor3.png" alt="">
                </div>
            </div>
        </div>
    </section>


   
</body>
</html>